<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jellycat Fantasy Draft</title>
    <link href="/static/css/styles.css" rel="stylesheet">
    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10/dist/ext/sse.js" integrity="sha384-JXOvQYm0HjCfIZ3Y3nKLu2lTMFfKPh7DQz0oj8p4w/pBBJsUkFhGZVPbLlDzTqQQ" crossorigin="anonymous"></script>
</head>
<body class="bg-gradient-to-br from-pink-50 via-purple-50 to-blue-50 min-h-screen">
    {{ template "content" . }}
    <script>
        // Connect to SSE for realtime updates
        document.addEventListener('DOMContentLoaded', function() {
            const eventSource = new EventSource('/api/events');
            
            eventSource.onmessage = function(event) {
                const data = JSON.parse(event.data);
                if (data.type && data.type !== 'connected') {
                    // Trigger refresh of main content
                    htmx.trigger(document.body, 'sse-event');
                }
            };
            
            eventSource.onerror = function() {
                console.log('SSE connection error, will reconnect...');
            };
        });
    </script>
</body>
</html>
